# system files
__pycache__
.ipynb_checkpoints
.env
.DS_Store

# file folder
audios/segments
transcripts/evaluations
transcripts/standup_transcript

audios/【Mens Talk】專訪 柯文哲｜欸！我說到哪裡了？ 20221227.wav
audios/EP373 | 🦸.wav
audios/侯友宜.wav
audios/博恩站起來－【大說謊家】.wav
audios/博恩站起來－【快樂嘴2 有話直說】.wav
audios/博恩站起來－【快樂嘴2 有話直說】首演場香菜篇.wav
audios/博恩站起來－【快樂嘴3】大躍進.wav
audios/博恩站起來－【矛盾第三運動定律】.wav
audios/博恩站起來－【矛盾第三運動定律】全台最強脫口秀演員.wav
audios/博恩站起來－【脫口秀新人精武門】.wav
audios/博恩站起來－【那一年】.wav
audios/博恩站起來－【頂尖對決－來互相傷害吧！】.wav
audios/博恩站起來－卡米地【一起跨年秀 2016-2017】.wav
audios/博恩站起來－卡米地【脫口秀新人爭霸戰】決賽.wav
audios/台灣喜劇藝人剛要進段子的時候被觀眾用奇怪的名詞打擾，藝人無情摧毀了觀眾，讓全場笑翻下地獄 #shorts.wav
audios/柯文哲TEDxTaipei.wav
audios/瘋狂大悶鍋最精彩－麻將屋.wav
audios/蔡英文_sample.wav
audios/郭台銘.wav
audios/kp_podcast.wav
